<div class="row">
    <div class="col-md-6-col-md-offset-3 well">
        <h3><a href="/Home/ShortenUrl"><span class="glyphicon glyphicon-resize-small"></span>  Shorten Url</a></h3>
        <h3><a href="/Home/ViewHistory"><span class="glyphicon glyphicon-folder-open"></span>  View History</a></h3>
    </div>
</div>
